html{
    background: linear-gradient(rgb(34, 157, 242), rgb(173, 226, 253));
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

audio {
    height: 4.5vh;
    position: relative;
    display: block; 
    margin: 0 auto;
}

.BOT{
    position: absolute;
    padding: 1.1rem;
    inset: auto 0 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.712);
}


body{
    position:relative;
    margin: 0;
    height: 100dvh;
    width: 100dvw;
}

#con{
    position: absolute;
}


#fore{
    position: absolute;
    left: 0px;
    top: 65px;
}

#yo{
    position: absolute;
    left: 900px;
    top: 180px;
}

#yo2{
    position: absolute;
    left: 100px;
    top: 400px;
}

#island{
    position: absolute;
    right: 100vh;
    top: 45vh;
}


#back{
    position: absolute;
    left: 0px;
    top: 0px;
}

#back2{
    position: relative;
    left: 0px;
    top: 65px;
}

#line{
    position: absolute;
    left: 0px;
    top: 0px;
}


#cloud1{
    transform: rotateZ(360deg);
    will-change: left;
    position: absolute;
    left: -100px;
    top: 300px;
    animation: move 70s infinite 1s ease-in;
    max-width: 100%;
    height: auto;
    width: auto\9;
}
@keyframes move {
   from{transform: translateX(-100px);}
   to{transform: translateX(2500px);}
}

#cloud2{
    transform: rotateZ(360deg);
    will-change: left;
    position: absolute;
    top: 50px;
    left: -200px;
    animation: move2 40s infinite 1s ease-out;
    max-width: 100%;
    height: auto;
    width: auto\9;
}
@keyframes move2 {
    from {transform: translateX(-400px);}
    to {transform: translateX(2800px);}
}

#cloud3{
    transform: rotateZ(360deg);
    will-change: left;
    position: absolute;
    top: 200px;
    left: -260px;
    animation: move3 60s infinite ease-out;
    max-width: 100%;
    height: auto;
    width: auto\9;
}
@keyframes move3 {
    from {transform: translateX(-260px);}
    to {transform: translateX(3100px);}
}

#cloud4{
    transform: rotateZ(360deg);
    will-change: left;
    position: absolute;
    top: -50px;
    left: -360px;
    animation: move4 80s infinite ease-out;
    max-width: 100%;
    height: auto;
    width: auto\9;
}
@keyframes move4 {
    from {transform: translateX(-360px);}
    to {transform: translateX(2770px);}
}

#cloud5{
    transform: rotateZ(360deg);
    will-change: left;
    position: absolute;
    left: -360px;
    top: -100px;
    animation: move5 50s infinite ease-out;
    max-width: 100%;
    height: auto;
    width: auto\9;
}
@keyframes move5 {
    from {transform: translateX(-600px);}
    to {transform: translateX(3000px);}
}

@keyframes move6 {
    from {transform: translateX(-1000px);}
    to {transform: translateX(3100px);}
}

#cloud6{
    transform: rotateZ(360deg);
    will-change: left;
    position: absolute;
    left: -582px;
    top: 90px;
    animation: move6 32s infinite ease-out;
    max-width: 100%;
    height: auto;
    width: auto\9;
}

#cloud7{
    transform: rotateZ(360deg);
    position: absolute;
    left:-800px;
    animation: move6 48s infinite ease-out;
    max-width: 100%;
    height: auto;
    width: auto\9;
}